:root {
    --bg-color: #1c1c1c;
    --white: white;
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --font-alfa: "Alfa Slab One", cursive;
    --red: rgb(150, 13, 13);
   
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-jakarta);
  }

  .remember{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .forget-pwd{
    color: var(--red);
    font-weight: bold;
    margin-top: 10%;
  }

  .pwd-div{
  display: flex;
  align-items: center;
  gap: 5px;
  }

