{%extends 'poshcars/base.html' %} {%load static%} {%block title%}
<title>User Dashboard - POSH_CARS</title>
{%endblock%}
<h1 class="text-center mt-5">This is User Dashboard</h1>
{%block content%} {%if user.is_superuser%}

<div id="content-below-navbar">

<div id="content-below-navbar">
  <div class="dashboardWrapper">
    <div class="dashboard">
        <section class="profile">
          <div class="profile-details">
            <h2 class="profile-heading">Admin Profile</h2>
            <p><b>Email:</b> {{user.email}}</p>
            <p><b>Phone Number:</b> {{user.phone}}</p>

          </div>
        </section>

          <section class="bookings">
            <div class="header">

              </div>
            <div class="container">
              <h2>Unverified cars</h2>




              <div class="admin_wrapper ">
                {% for un_car in unverified_cars %}
    {% if un_car.id %}

    
        <div class="admin_wrapper_main">
            <div class="admin-product">
                <div class="car-name">{{ un_car.brand }}</div>
                <div class="car-model">{{ un_car.model }}</div>

                <div class="car-img-div">
                    <img src="{{ un_car.image.url }}" alt="car image" class="car-img"/>
                </div>

                <div class="location-price">
                    <div class="location">
                        <i class="fa-solid fa-location-dot"></i>
                        <div>{{ un_car.location }}</div>
                    </div>

                    <div class="price">
                        <i class="fa-solid fa-naira-sign"></i>
                        <div class="priced">{{ un_car.rental_price_per_day }}</div>
                        <div class="car-span">/day</div>
                    </div>
                </div>

                <div class="other-details">
                    <a href="{% url 'car-details' un_car.id %}" class="anchor">More details</a>
                </div>

                <div class="rent-btn">
                    <button> <a href="{% url 'verify-car'car. un_car.id %}">Verify Car</a></button>
                </div>
            </div>
        </div>

        {%else%}
        <h1></h1>
    {% endif %}
{% endfor %}





                <!-- {% for un_car in unverified_cars %}
              
                <div class="admin_wrapper_main">
                 <div class="admin-product">
                  <div class="car-name">{{un_car.brand}}</div>
                  <div class="car-model">{{un_car.model}}</div>
              
                  <div class="car-img-div">
                    <img src="{{un_car.image.url}}" alt="car image" class="car-img"/>
                  </div>
              
                  <div class="location-price">
                    <div class="location">
                      <i class="fa-solid fa-location-dot"></i>
                      <div>{{un_car.location}}</div>
                    </div>
              
                    <div class="price">
                      <i class="fa-solid fa-naira-sign"></i>
                    <div class="priced">{{un_car.rental_price_per_day}}</div>
                    <div class="car-span">/day</div>
                    </div>
                    
                  </div>
              
                  <div class="other-details">
                    <a href="{%url 'car-details' un_car.id%}" class="anchor">More details</a>
                  </div>
              
                  <div class="rent-btn">
                    <button> <a href="{% url 'verify-car' un_car.id %}">Verify Car</a>
                      </button>
                  </div>
                 </div>
              
                </div>
               
              
              
              
              {%endfor%} -->
              </div>















              <h1>Unapproved Cars</h1>


              {% for approve in unverified_rent %}
              
                <div class="admin_wrapper_main">
                 <div class="admin-product">
                  <div class="car-name">{{un_car.brand}}</div>
                  <div class="car-model">{{un_car.model}}</div>
              
                  <div class="car-img-div">
                    <img src="{{un_car.image.url}}" alt="car image" class="car-img"/>
                  </div>
              
                  <div class="location-price">
                    <div class="location">
                      <i class="fa-solid fa-location-dot"></i>
                      <div>{{un_car.location}}</div>
                    </div>
              
                    <div class="price">
                      <i class="fa-solid fa-naira-sign"></i>
                    <div class="priced">{{un_car.rental_price_per_day}}</div>
                    <div class="car-span">/day</div>
                    </div>
                    
                  </div>
              
              
                  <div class="rent-btn">
                    <button> <a href="{% url 'verify-car' un_car.id %}">Verify Car</a>
                      </button>
                  </div>
                 </div>
              
                </div>

                {%endfor%}
                    
                      <!-- {{un_car.brand}}  {{un_car.id}}</a> -->
<!--               
              <div class="booking-list">
                {% for rental in userrental%}
                <div class="booking">
                  <div class="book-img-div">
                    <img src="{{rental.car.image.url}}" alt="Car Image" class="book-img" />
                  </div>
                  <div class="booking-details">
                    <h3>{{rental.car.brand.name}}</h3>
                    <p id="amount"><strong>Amount:</strong>{{rental.car.total_price}} </p>
                    <p><strong>Start Date:</strong> {{rental.startdate}}</p>
                    <p><strong>Expected Car return Date:</strong>{{rental.enddate}}</p>
                    <p><strong>Status:</strong> Pending</p>
                    <button>Cancel Booking</button>
                  </div>
                </div>
                {%endfor%} -->
                <!-- More booking items here -->
              </div>
            </div>
          </section>
        
      </div>
    </div>
    
  </div>
</div>


<!-- user dashboard -->

{%else%}

{%if user.userdetails%}

<div id="content-below-navbar">
  <div class="dashboardWrapper">
    <div class="dashboard">
        <section class="profile">
          <div class="profile-details">
            <h2 class="profile-heading">User Profile</h2>
            <p><b>Firstname:</b> {{user.first_name}}</p>
            <p><b>Lastname:</b> {{user.last_name}}</p>
            <p><b>Email:</b> {{user.email}}</p>
            <p><b>Phone Number:</b> {{user.userdetails.phonenumber}}</p>
            <p><b>Nin:</b> {{user.userdetails.nin}}</p>
            <p><b>Drivers License:</b> {{user.userdetails.drivers_license}}</p>

            <div>
              <button class="btn btn-light"><a href="{% url 'updateUserDetails' user.userdetails.id %}">Edit Profile</a></button>
            </div>
          </div>
        </section>
        
        <section class="bookings">
          <div class="header">
            
            </div>
          <div class="user-dash-container">
            <h2 class="text-center">Bookings</h2>
            <div class="booking-list">
              {% for rental in userrental%}
              <div class="booking-inner">
            <div class="booking-product">
              <div class="book-img-div">
                <img src="{{rental.car.image.url}}" alt="Car Image"  class="book-img"/>
              </div>
                <div class="booking-details">
                  <h3>{{rental.car.brand.name}}</h3>
                  <p><strong>Amount:</strong>#{{rental.car.rental_price_per_day}}</p>
                  <p><strong>Start Date:</strong> {{rental.startdate}}</p>
                  <p><strong>Expected Car return Date:</strong>

                  {{rental.enddate}}</p>

                  <p><strong>Status:</strong>
                  {%if not rental.is_approved%}
                  Pending Approval
                  {%else%}
                  car rental approved
                  </p>
                  {%endif%}

                  <p><strong>Returned:</strong>
                    {%if not rental.is_returned%}
                    car not returned
                    {%else%}
                    car returned
                    </p>
                    {%endif%}

                 <p>
                  <button>Cancel Booking</button>
                 </p>
                </div>
            </div>
              </div>

              
              {%endfor%}
              <!-- More booking items here -->
            </div>
          </div>
        </section>
        
      </div>
    </div>
    
  </div>

{%else%}
<h1>
  <a href="{%url 'userdetails'%}">Complete Registration</a>
</h1>
{%endif%} 
{%endif%} 
{%endblock%}

























{% if user.is_authenticated %}
    {% if user.userdetails %}
        {% if not allcar.availability %}
            <div class="rent-btn">
                <button><a href="{% url 'rentcar' allcar.id %}" class="renta">Rent Now</a></button>
            </div>
        {% else %}
            <div class="no-car-msg">
                <div>Not available for rent.</div>
            </div>
        {% endif %}
    {% else %}
        <div class="complete-reg">
            <div>
                <a href="{% url 'userdetails' %}">Complete Registration</a>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="rent-btn">
        <button><a href="{% url 'login' %}" class="renta">Rent Car</a></button>
    </div>
{% endif %}
