{%extends 'poshcars/base.html' %}
{%load static%}

{%block title%}
<title>clients cars - POSH_CARS</title>
{%endblock%}

{%block content%}

<section class="clientMain">

  <div class="clientMain-div">


  <form method="POST" enctype="multipart/form-data" class="formm">
    <h2>Submit Your Car for Rental</h2>
    {% csrf_token %}

    
    <div class="hello">
    <div>
      <label for="make" class="form-label">Car Make:</label><br/>
      <input type="text" id="make" name="car_make" class="form-control"required>
    </div>       
    <div>
      <label for="model" class="form-label">Car Model:</label><br/>
      <input type="text" id="model" name="car_model" class="form-control"required>
    </div>
    <div>
      <label for="year" class="form-label">Year of Manufacture:</label><br/>
      <input type="number" id="year" name="year_of_manufacture" class="form-control"required>
    </div>
    </div>      
      <div class="hello">  
        
        
        <div>
          <label for="fuel" class="form-label">Fuel Type:</label><br/>
          <select id="fuel" name="fuel_type" class="form-select" required>
              <option value="Petrol">Petrol</option>
              <option value="Diesel">Diesel</option>
              <option value="Electric">Electric</option>
              <option value="Hybrid">Hybrid</option>
          </select>
        </div>
      
    <div>
      <label for="seats" class="form-label">Number of Seats:</label><br/>
      <input type="number" id="seats" name="number_of_seats" class="form-control"  required>
    </div>

      </div>

    <div class="hello">
    
    <div>
      <label for="doors" class="form-label">Number of Doors:</label><br/>
      <input type="number" id="doors" name="number_of_doors" class="form-control"  required>
    </div>
      
    <div>
      <label for="registration" class="form-label">Car Registration Number:</label><br/>
      <input type="text" id="registration" name="car_reg_number" class="form-control"  required>
    </div>

  <div>
      <label for="rate" class="form-label">Daily Rental Rate:</label><br/>
      <input type="number" id="rate" name="daily_rental_rate"  class="form-control" required>
  </div>
    </div>

    <div class="hello">
    <div>
      <label for="insurance" class="form-label">Insurance Details:</label><br/>
      <input type="text" id="insurance" name="insurance_details" class="form-control" required>
    </div>

    <div>
      <label for="photos" class="form-label">Upload Car Photos:</label><br/>
      <input type="file" id="photos" name="photos" accept="image/*" multiple required class="form-control">
    </div>

  <div>
      <label for="transmission" class="form-label">Transmission Type:</label><br/>
      <select id="transmission" name="transmission" class="form-select" required>
          <option value="automatic">Automatic</option>
          <option value="manual">Manual</option>
      </select>
    </div>
    </div>

    <p class="text-center">
      <button class="client-btn">Add Car</button>
    </p>
  </form> 
</div>


      
{% endblock %}