{%extends 'poshcars/base.html' %}
{%load static%}

{%block title%}
<title>clients cars - POSH_CARS</title>
{%endblock%}

{%block content%}

<section class="clientMain">

  <div class="clientMain-div">
    
    
    <form action="" method="post" class="form formm">
        <h2>Submit Your Car for Rental</h2>


  <form method="POST" enctype="multipart/form-data" class="formm">
    {% csrf_token %}
    {% for field in form_key %}
        <div class="form-field">
        <div class="form-error">{{ field.errors }}</div> 
        <div  class="form-label">{{ field.label_tag }}</div> 
        {{ field }}
        </div>
    {% endfor %}
    <p class="text-center">
      <button type="submit" class="client-btn">Submit car</button>
    </p>    
    
</form>

</section>
      
{%endblock%}