{%extends 'poshcars/base.html' %} {%load static%} {%block title%}
<title>User Dashboard - POSH_CARS</title>
{%endblock%}
<h1 class="text-center mt-5">This is User Dashboard</h1>
{%block content%} {%if user.is_superuser%}

<div id="content-below-navbar">


  
<div id="content-below-navbar">
  <div class="dashboardWrapper">
    <div class="dashboard">
        <section class="profile">
          <div class="profile-details">
            <h2 class="profile-heading">Admin Profile</h2>
            <p><b>Email:</b> {{user.email}}</p>
            <p><b>Phone Number:</b> {{user.phone}}</p>
            

            
    
            
          </div>
        </section>
    
       
          <section class="bookings">
            <div class="header">
               
              </div>
            <div class="container">
              <h2>Bookings</h2>
              <div class="booking-list">
                {% for rental in userrental%}
                <div class="booking">
                  <img src="{{rental.car.image.url}}" alt="Car Image" />
                  <div class="booking-details">
                    <h3>{{rental.car.brand.name}}</h3>
                    <p><strong>Amount:</strong>{{rental.car.rental_price_per_day}}</p>
                    <p><strong>Start Date:</strong> {{rental.startdate}}</p>
                    <p><strong>Expected Car return Date:</strong>{{rental.enddate}}</p>
                    <p><strong>Status:</strong> Pending</p>
                    <button>Cancel Booking</button>
                  </div>
                </div>
                {%endfor%}
                <!-- More booking items here -->
              </div>
            </div>
          </section>
        
      </div>
    </div>
    
  </div>
</div>


<!-- user dashboard -->

{%else%}

{%if user.userdetails%}

<div id="content-below-navbar">
  <div class="dashboardWrapper">
    <div class="dashboard">
        <section class="profile">
          <div class="profile-details">
            <h2 class="profile-heading">User Profile</h2>
            <p><b>Firstname:</b> {{user.first_name}}</p>
            <p><b>Lastname:</b> {{user.last_name}}</p>
            <p><b>Email:</b> {{user.email}}</p>
            <p><b>Phone Number:</b> {{user.userdetails.phonenumber}}</p>
            <p><b>Nin:</b> {{user.userdetails.nin}}</p>
            <p><b>Drivers License:</b> {{user.userdetails.drivers_license}}</p>

            <div>
              <button class="btn btn-light">Edit Profile</button>
              <button class="btn btn-warning">Delete Profile</button>
            </div>
          </div>
        </section>
    
       
         
        <section class="bookings">
          <div class="header">
             
            </div>
          <div class="container">
            <h2>Bookings</h2>
            <div class="booking-list">
              {% for rental in userrental%}
              <div class="booking">
                <img src="{{rental.car.image.url}}" alt="Car Image" />
                <div class="booking-details">
                  <h3>{{rental.car.brand.name}}</h3>
                  <p><strong>Amount:</strong>{{rental.car.rental_price_per_day}}</p>
                  <p><strong>Start Date:</strong> {{rental.startdate}}</p>
                  <p><strong>Expected Car return Date:</strong>{{rental.enddate}}</p>
                  <p><strong>Status:</strong> Pending</p>
                  <button>Cancel Booking</button>
                </div>
              </div>
              {%endfor%}
              <!-- More booking items here -->
            </div>
          </div>
        </section>
        
      </div>
    </div>
    
  </div>

{%else%}
<h1>
  <a href="{%url 'userdetails'%}">Complete Registration</a>
</h1>
{%endif%} 
{%endif%} 
{%endblock%}
