{%extends 'poshcars/base.html' %}
{%load static%}

{%block title%}
<title>Login Page - POSH_CARS</title>
{%endblock%}

{%block content%}

        <section class="log-main">
            <div class="log-img-div">

                <img  src="https://res.cloudinary.com/blackgirlmagic/image/upload/v1713477636/poshCars/f663b620-9818-4ba6-a6ae-4e04238b3616-removebg-preview_dzad2s.png" class="log-img" alt="car image"/>
                
               
            </div>

            <div class="formlog-div">
            
           
                <form action="" method="POST" class="form">
                    {%csrf_token%}
                    <div class="form-info">
                        <p class="form-info-p1">Login to your account</p>
                        <p class="form-info-p2">Enter your details to proceed further</p>
                    </div>

                    {%if error%}

                   <p class="error">{{error}}</p> 
                    
                    {%endif%}

                    <p>
                       <div>
                        <label  for="email">Email</label>
                        <div class="icon-div">
                            <input type="email" placeholder="ojonuyo@gmail.com" name="username" class="form-input" required/>

                            <i class="fa-solid fa-envelope "></i>
                        </div>
                       </div>
                    </p>

                   

                    <p>
                       <div>
                        <label  for="password">Password</label>
                        <div class="icon-div">
                            <input type="password" placeholder="password" name="password" class="form-input" required/>

                            <i class="fa-solid fa-lock "></i>
                        </div>
                       </div>
                    </p>

                   

                    <p>
                       
                            <div class="remember">

                                <div class="pwd-div"> 
                                    
                                    <input type="checkbox" id="agree" name="agree" class="log-checkbox">
                                
                                    <p class="forget-pwd">remember me
                                       </p>
                                </div>

                              <label>
                                <a href="forgot-pswd.html" target="_blank" class="log-terms">forgot password?</a>
                              </label>
                                
                                
                            </div>
                      
                        <button type="submit" class="reg-button">Login</button>  
                    </p>

                   <p class="text-center">
                    <label>Don't have an account? <a href="{%url 'register'%}" target="_blank" class="terms text-center">Create an account</a></label>
                   </p>
                </form>
            </div>
        </section>

        {%endblock%}