    {%extends 'poshcars/base.html' %}
{%load static%}

{%block title%}
<title>Register - POSH_CARS</title>
{%endblock%}

{%block content%}

        <section class="reg-main">
            <div class="reg-img-div">

                <!-- <img  src="https://res.cloudinary.com/blackgirlmagic/image/upload/v1713477636/poshCars/f663b620-9818-4ba6-a6ae-4e04238b3616-removebg-preview_dzad2s.png" class="reg-img" alt="car image"/> -->

              
               
            </div>

            <div class="form-div">
                <form action="" method="POST" class="form">
                    {%csrf_token%}
                    <div class="form-info">
                        <p class="form-info-p1">Sign Up to get started</p>
                        <p class="form-info-p2">Enter your details to proceed further</p>
                    </div>

                   
               
                     
                       
                            <div>
                                <label  for="f-name">Firstname</label>
                            <div class="icon-div">
                                <input type="text" placeholder="first name" name="f-name" class="form-input" required/>
    
                                <i class="fa-solid fa-user reg-icon"></i>
                            </div>
                            </div>
                         
                       
    
    
                       
                         
                                <div>
                                    <label  for="l-name">Lastname</label>
                            <div class="icon-div">
                                <input type="text" placeholder="last name" name="l-name" class="form-input" required/>
    
                                <i class="fa-solid fa-user reg-icon"></i>
                            </div>
                                </div>
                         
                       
                    

                  

                   
                    
                     
                        
                            <div>
                                <label  for="email">Email</label>
                                <div class="icon-div">
                                    <input type="email" placeholder="ojonuyo@gmail.com" name="email" class="form-input" required/>
        
                                    <i class="fa-solid fa-envelope reg-icon"></i>
                                </div>
                            </div>
                           
                         
    
    
                         
                           
                      


                    
                        
                       
                        <div>
                            <label  for="password">Password</label>
                            <div class="icon-div">
                                <input type="password" placeholder="password" name="password" class="form-input" required/>
    
                                <i class="fa-solid fa-lock reg-icon"></i>
                            </div>
                           </div>
                  


                        
                 
                       <div>
                           <label  for="c-password"> Confirm Password</label>
                       <div class="icon-div">
                           <input type="password" placeholder="confirm password" name="c-password" class="form-input" required/>

                           <i class="fa-solid fa-lock reg-icon"></i>
                       </div>
                       </div>
                  
                   
                 
                   


                    <p>
                       
                            <div class="agree">
                                <input type="checkbox" id="agree" name="agree" class="reg-checkbox" required>
                                <label for="agree">I agree to the <a href="register.html" target="_blank" class="terms">terms and conditions</a></label>
                            </div>
                      
                        <button type="submit" class="reg-button">Sign Up</button>  
                    </p>

                    <p class="have-account">
                        <label class="agree">Already have an account?<a href="{%url 'login'%}" target="_blank" class="terms">Login</a></label>
                    </p>
                </form>
            </div>
        </section>

      {%endblock%}

