
{%extends 'poshcars/base.html' %}
{%load static%}

{%block title%}
<title>Testimonials - POSH_CARS</title>
{%endblock%}

{%block content%}
    <section id="tes-main">
     <h1 class="tes-main-heading">Our Customers Says</h1>
     <div class="tes-main-divs">
        <div class="testimonials">
           <div class="tex-img-div">
            <img src="https://res.cloudinary.com/blackgirlmagic/image/upload/v1663076758/Fashion%20Envato/pic_3_hylija.png" class="tex-img"/>
           </div>
           <p class="tex-info">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed assumenda quos iure dolor reprehenderit, accusamus, suscipit quam nam quidem similique beatae, perspiciatis maiores enim dolorem ipsam quod sapiente quisquam placeat.
           </p>
        </div>

        <div class="testimonials">
            <div class="tex-img-div">
                <img src="https://res.cloudinary.com/blackgirlmagic/image/upload/v1663076758/Fashion%20Envato/pic_3_hylija.png" class="tex-img"/>
            </div>
            <p class="tex-info">
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed assumenda quos iure dolor reprehenderit, accusamus, suscipit quam nam quidem similique beatae, perspiciatis maiores enim dolorem ipsam quod sapiente quisquam placeat.
            </p>
         </div>

         <div class="testimonials">
            <div class="tex-img-div">
                <img src="https://res.cloudinary.com/blackgirlmagic/image/upload/v1663076758/Fashion%20Envato/pic_3_hylija.png" class="tex-img"/>
            </div>
            <p class="tex-info">
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed assumenda quos iure dolor reprehenderit, accusamus, suscipit quam nam quidem similique beatae, perspiciatis maiores enim dolorem ipsam quod sapiente quisquam placeat.
            </p>
         </div>

         <div class="testimonials">
            <div class="tex-img-div">
                <img src="https://res.cloudinary.com/blackgirlmagic/image/upload/v1663076758/Fashion%20Envato/pic_3_hylija.png" class="tex-img"/>
            </div>
            <p class="tex-info">
             Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed assumenda quos iure dolor reprehenderit, accusamus, suscipit quam nam quidem similique beatae, perspiciatis maiores enim dolorem ipsam quod sapiente quisquam placeat.
            </p>
         </div>

      
     </div>
    </section>
 
    {%endblock%}
