:root {
    --bg-color: #1c1c1c;
    --white: white;
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --font-alfa: "Alfa Slab One", cursive;
    --red: rgb(150, 13, 13);
   
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-jakarta);
  }

  .cars_wrapper{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7%;
    margin-bottom: 2%;
   
  }

  .cars_wrapper_main{
  
   border: 1px solid black;
  
    
  }

  .cars_wrapper_inner{
    width: 90%;
   margin: auto;
  }

  .cars_img_div{
    width: 350px;
    height: 320px;
  }
  .cars_img_div img{
  width: 300px;
  height: 300px;
  object-fit: cover;
    
    
  }

  .cars_admin_btn{
    display: flex;
  }

  /* car details css */

.details_wrapper{
  display: flex;
  justify-content: space-between;
  gap: 20%;
  width: 70%;
  margin: auto;
  margin-top: 10%;
}

.details_imageDiv{
  width: 40%;
}

.details{
  width: 50%;
}

.details_image{
  width: 500px;
  height: 600px;
  object-fit: cover;
}
   /* media query */


   @media only screen and (max-width: 600px) {
  
    
   }
   
   /* Small devices (portrait tablets and large phones, 600px and up) */
   @media only screen and (min-width: 601px) and (max-width: 767px){
  
     
   }
   
   /* Medium devices (landscape tablets, 768px and up) */
   @media only screen and (min-width: 768px) and (max-width: 991px) {
  
     
   }
   
   /* Large devices (laptops/desktops, 992px and up) */
   @media only screen and (min-width: 992px) and (max-width: 1023px){
     
   }
   
   /* Extra large devices (large laptops and desktops, 1200px and up) */
   @media only screen and (min-width: 1023px) and (max-width: 1200px) {
 
   }
     