:root {
    --bg-color: #1c1c1c;
    --white: white;
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --font-alfa: "Alfa Slab One", cursive;
    --red: rgb(150, 13, 13);
   
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-jakarta);
  }

   /* media query */


   @media only screen and (max-width: 600px) {
  
    
   }
   
   /* Small devices (portrait tablets and large phones, 600px and up) */
   @media only screen and (min-width: 601px) and (max-width: 767px){
  
     
   }
   
   /* Medium devices (landscape tablets, 768px and up) */
   @media only screen and (min-width: 768px) and (max-width: 991px) {
  
     
   }
   
   /* Large devices (laptops/desktops, 992px and up) */
   @media only screen and (min-width: 992px) and (max-width: 1023px){
     
   }
   
   /* Extra large devices (large laptops and desktops, 1200px and up) */
   @media only screen and (min-width: 1023px) and (max-width: 1200px) {
 
   }
     