
:root {
    --bg-color: #1c1c1c;
    --white: white;
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --font-alfa: "Alfa Slab One", cursive;
    --red: rgba(150, 13, 13,0.8);
    
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


.footer-main{
   background-color: var(--bg-color); 
   width: 100%;
   padding-bottom: 5%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    color: var(--white);
    padding-top: 2%;
}

.links-icon a{
   text-decoration: none;
   color: white;
  
}

.links-icon{
  margin-top: 4%;
}

.socials li{
    list-style-type: none;
    text-align: center;

}

.socials li a{
    color: var(--white);
}

.links-ul li {
  list-style-type: none;
  margin-top: 4%;
}

.links-ul li a{
  text-decoration: none;
  color: white;
  
}