:root {
  --bg-color: #1c1c1c;
  --white: white;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-alfa: "Alfa Slab One", cursive;
  --red: rgb(150, 13, 13);
  /* rgb(150, 13, 13)  rgb(200, 50,50)  #ff4500*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
  padding-bottom: 10%;
}

/* Home page */
.home {
  height: 100vh;
  position: relative;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: rgba(0, 0, 0, 0.8);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 50vh;
  width: 90%;
  margin: auto;
}

.content-1 {
  color: white;
  z-index: 1;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 800;
  color: var(--red);
}

.content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.content p {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  width: 50%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding-top: 1rem;
}

.home-btn {
  border: none;
  background-color: transparent;
}

.home-btn a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  background-color: var(--white);
  padding: 12px 50px;
  border-radius: 4px;
  font-weight: 700;
}



.home-btn a:hover {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  background-color: var(--red);
  padding: 12px 50px;
  border-radius: 10px;
  font-weight: 500;
}



/* .buttons .home-btn:nth-child(2) {
  background-color: transparent;
  border: 2px solid white;
  color: var(--white);
} */

/* animation */

.animated-text {
  opacity: 0;
  transform: translateY(20px); /* Move text down initially */
  animation: fadeInUp 0.5s ease forwards;
}

/* Keyframes for the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* media query */


@media only screen and (max-width: 600px) {

  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

