/* --red: rgb(150, 13, 13); */
:root {
  --bg-color: #1c1c1c;
  --white: white;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-alfa: "Alfa Slab One", cursive;
  --red: rgba(150, 13, 13,0.8);
  --grey: #808080;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forget-pwd {
  color: var(--red);
  font-weight: bold;
  margin-top: 10%;
}

.pwd-div {
  display: flex;
  align-items: center;
  gap: 5px;
}


.log-main {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 5%;
 
  
 
}

.log-terms {
  color: var(--red);
  text-decoration: none;
}
.log-img {
  width: 100%;
  height: 600px;
  object-fit: contain;

  margin-left: 15%;
  padding-top: 35%;
  /* transform: scaleX(-1); */
}

.formlog-div {
  width: 100%;
  display: flex;
  flex-direction: column;
   height: 450px;
  justify-content: center;
  align-items: center;
}

.log-img-div {
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/blackgirlmagic/image/upload/v1713456623/poshCars/pexels-akos-szabo-145938-440731_hsggak.jpg");
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

.forget-icon-div {
  border-top: 5px solid rgb(150, 13, 13);
  height: 70px;
  width: 70px;
  margin: auto;
  border-radius: 40%;
  position: relative;
}

.forget-icon-div i {
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 12px;
  color: var(--red);
}

.log {
  line-height: 1.2;
}

.error{
  color: var(--red);
}



/* media query */


@media only screen and (max-width: 400px) {
  
  .reg-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
   
  }

  .log-img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    padding-top: 15%;
    margin-left: 0;
   
  }

  .log-img-div {
    width: 100%;
    height: 300px;
    border-radius: 0px;
    margin-bottom: 5%;
  }

  
 
  .pwd-div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 3%;
    margin-right: 2%;
    font-size: 14px;
  }

  .log-terms {
    font-size: 14px;
  }

  .forget-pwd {
    color: var(--red);
    font-weight: bold;
    margin-top: 10%;
    font-size: 14px;
  }

  .formlog-div{
    margin-top: 8%;
  }

}

@media only screen and (min-width: 401px) and (max-width: 600px){

  .reg-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
   
  }

  .log-img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    padding-top: 10%;
    margin-left: 0;
   
  }

  .log-img-div {
    width: 100%;
    height: 300px;
    border-radius: 0px;
    margin-bottom: 5%;
  }

  .formlog-div{
    margin-top: 8%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px){
  .reg-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
   
  }

  .log-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-top: 0;
    margin-left: 0;
   
  }

  .log-img-div {
    width: 100%;
    height: 300px;
    border-radius: 0px;
    margin-bottom: 5%;
  }

  .formlog-div{
    margin-top: 8%;
  }

  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .reg-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
   
  }

  .log-img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    padding-top: 0;
    margin-left: 0;
   
  }

  .log-img-div {
    width: 100%;
    height: 400px;
    border-radius: 0px;
    margin-bottom: 5%;
    
  }

  .formlog-div{
    margin-top: 10%;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1023px){
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1023px) and (max-width: 1200px) {
  .log-img {
    width: 100%;
    height: 750px;
    object-fit: contain;
    padding-top: 15%;
    margin-left: 15%;
   
  }

  .reg-main {
    gap: 10%;
  }

 

  .form{
    width: 100%;
   
  }

  .log-img-div {
   
    height: 450px;
  }
  
}