
:root {
  --bg-color: #1c1c1c;
  --white: white;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-alfa: "Alfa Slab One", cursive;
  --red: rgba(150, 13, 13,0.8);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
  
}

.reg-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 0;
 
  
 
}

.icon-div {
  position: relative;
  width: 100%;
  
}

.icon-div i {
  position: absolute;
  margin-top: 3%;
  margin-left: -10%;
  color: var(--bg-color);
}

label {
  font-weight: bold;
}

.form-input {
  border: 2px solid #ccc;
  background-color: transparent;
  padding: 1.5%;
  border-radius: 5px;
  width: 100%;
}

.reg-button {
  border: none;
  width: 40%;
  background-color: var(--red);
  color: var(--white);
  margin-top: 5%;
  padding: 1.5%;
  border-radius: 5px;
  font-size: 18px;
}

.reg-button:hover {
  background-color: transparent;
  border: 1px solid rgb(150, 13, 13);
  color: var(--red);
  /* font-weight: bold; */
}

.reg-img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  padding-top: 38%;
  margin-left: 13%;
 
  /* transform: scaleX(-1); */
}

.have-account{
  text-align: center;
}
.form-div {
  width: 100%;
  display: flex;
  flex-direction: column;
   height: 700px;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}  

.form{
  width: 70%;
  margin: auto;
}

.reg-img-div {
  width: 60%;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/blackgirlmagic/image/upload/v1713456623/poshCars/pexels-akos-szabo-145938-440731_hsggak.jpg"); */
    /* border-radius: 10px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  background-color: var(--red);
}



.terms {
  color: var(--red);
  text-decoration: none;
}

.terms:hover {
  color: var(--red);
  text-decoration: underline;
}

.form-info {
  text-align: center;
  margin-bottom: 10%;
  line-height: 1;
  color: var(--bg-color);
  margin-top: 6%;
 

}

.passwordDiv{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  
}

.passwordDiv div{
  width: 90%;
}

.form-info-p1 {
  font-weight: 700;
  font-size: 24px;
  color: var(--red);
}

.form-info-p2 {
  font-size: 14px;
}

 .agree{
  color: var(--bg-color);
}


/* media query */


@media only screen and (max-width: 400px) {
  
  .reg-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
   
  }

  .reg-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-top: 0;
    margin-left: 0;
   
  }

  .reg-img-div {
    width: 100%;
    height: 300px;
    border-radius: 0px;
    margin-bottom: 5%;
  }

  .form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
     height: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .agree{
    display: flex;
    gap: 4%;
    align-items: flex-start;
    margin-top: 6%;
  }

  .reg-checkbox{
    margin-top: 2%;
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px){

  .reg-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
   
  }

  .reg-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-top: 0;
    margin-left: 0;
   
  }

  .reg-img-div {
    width: 100%;
    height: 300px;
    border-radius: 0px;
    margin-bottom: 5%;
  }

  .form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
     height: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .agree{
    display: flex;
    gap: 4%;
    align-items: flex-start;
    margin-top: 6%;
  }

  .reg-checkbox{
    margin-top: 2%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px){
  .reg-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
   
  }

  .reg-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-top: 0;
    margin-left: 0;
   
  }

  .reg-img-div {
    width: 100%;
    height: 300px;
    border-radius: 0px;
    margin-bottom: 5%;
  }

  .form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
     height: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .agree{
    display: flex;
    gap: 4%;
    align-items: flex-start;
    margin-top: 6%;
  }

  .reg-checkbox{
    margin-top: 2%;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .reg-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
   
  }

  .reg-img {
    width: 100%;
    height: 600px;
    object-fit: contain;
    padding-top: 0;
    margin-left: 0;
   
  }

  .reg-img-div {
    width: 100%;
    height: 400px;
    border-radius: 0px;
    margin-bottom: 5%;
    
  }

  .form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
     height: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .agree{
    display: flex;
    gap: 2%;
    align-items: flex-start;
    margin-top: 6%;
  }

  .reg-checkbox{
    margin-top: 1%;
  }

  .have-account{
    width: 50%;
    margin: auto;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1023px){
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1023px) and (max-width: 1200px) {
  .reg-img {
    width: 100%;
    height: 750px;
    object-fit: contain;
    padding-top: 20%;
    margin-left: 15%;
   
  }

  .reg-main {
    gap: 10%;
  }

  .form-div {
    width: 100%;
    display: flex;
    flex-direction: column;
     height: 620px;
    justify-content: center;
    align-items: center;
  }

  .form{
    width: 100%;
   
  }

  .reg-img-div {
   
    height: 450px;
  }
  
}
  



