:root {
  --bg-color: #1c1c1c;
  --white: white;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-alfa: "Alfa Slab One", cursive;
  --red: rgb(150, 13, 13);
  --grey: #808080;
  --greyish: #ccc;

  --rev: rgb(237, 245, 255);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
  color: var(--bg-color);
}

#tes-main {
  margin-top: 5%;
  padding-bottom: 5%;
}

.tex-img-div {
  text-align: center;
  margin-bottom: 2%;
}
.tex-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
  border: 10px solid white;

  margin-top: 5%;
}

.tes-main-heading {
  padding-top: 4%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.tes-main-divs {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 2%;
}

.testimonials {
  background-color: var(--rev);

  border-radius: 10px;
  width: 20%;
  padding-bottom: 3%;
}

.testimonials-main {
  width: 85%;
  margin: auto;
}

.tex-info {
  text-align: center;
  margin-top: 4%;
  font-weight: 500;
}

/* Custom CSS to style carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
  color: #000; /* Set text color to black */
  background-color: transparent; /* Set background color to semi-transparent black */
  border: none; /* Remove border */
  font-size: 1.5rem; /* Adjust font size */
}

/* Style for the carousel control icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000; /* Set background color of control icons to black */
}

/* Change color of the control icon */
.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  color: #fff; /* Set the color of the icon to white */
}

/* Hover effect for carousel control buttons */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: transparent; /* Darken background on hover */
}

/* media query */

@media only screen and (max-width: 400px) {
  #tes-main {
    margin-top: 160%;
    padding-bottom: 5%;
  }

  .tes-main-divs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;

    width: 80%;
    margin: auto;
    margin-top: 2%;
  }

  .tes-main-heading {
    padding-top: 8%;
    margin-bottom: 5%;
    font-size: 1.5rem;
  }

  .testimonials {
    background-color: var(--rev);
  
    border-radius: 10px;
    width: 100%;
    padding-bottom: 3%;
  }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
  #tes-main {
    margin-top: 145%;
    padding-bottom: 5%;
  }

  .tes-main-divs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;

    width: 80%;
    margin: auto;
    margin-top: 2%;
  }

  .tes-main-heading {
    padding-top: 8%;
    margin-bottom: 5%;
  }

  .testimonials {
    background-color: var(--rev);
  
    border-radius: 10px;
    width: 100%;
    padding-bottom: 3%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  #tes-main {
    margin-top: 145%;
    padding-bottom: 5%;
  }

  .tes-main-divs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;

    width: 80%;
    margin: auto;
    margin-top: 2%;
  }

  .tes-main-heading {
    padding-top: 8%;
    margin-bottom: 5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #tes-main {
    margin-top: 15%;
    padding-bottom: 5%;
  }

  .tes-main-divs {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 2%;
  }

  .tes-main-heading {
    padding-top: 8%;
    margin-bottom: 5%;
  }

  .testimonials {
    border-radius: 10px;
    width: 40%;
    padding-bottom: 3%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1023px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1023px) and (max-width: 1200px) {
  .testimonials {
    background-color: var(--rev);

    border-radius: 10px;
    width: 30%;
    padding-bottom: 3%;
  }
}
